* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #FBD69F; 
  --secondary-color: #F2F2F0 ; 
  --text-color:#4b3726; 
  --bg-color: #F27166; 
}

#colabs,
#production {
  border-bottom: .0625rem solid var(--text-color);
}

#production,
#finished-production,
#colabs {
  margin-top: 6.25rem;
  margin-bottom: 3.75rem;
}

.section-title {
  margin-top: 3.75rem;
  font-size: 2.5rem;
  margin-bottom: 3.125rem;
  text-align: center;
}

.color-detector {
  position: absolute;
  top: 0;
  left: 0;
  width: .0625rem;
  height: .0625rem;
  opacity: 0;
}

/* Estilos gerais do cabeçalho */
header {
  background-color: var(--primary-color);
  color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1.875rem;
  z-index: 4;
}

.logo img {
  max-width: 30%;
  border-radius: 50%;
  padding: 0.3rem 0rem;
}

/* Estilos do menu */
nav {
  display: flex;
  align-items: center;
  max-width: 87.5rem;
  position: relative;
  z-index: 1;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  margin-left: 1.875rem;
}

.menu a {
  font-size: 1.3rem;
  color: var(--text-color);
  text-decoration: none;
}

.menu li a:hover {
  color: var(--bg-color);
  transform: translateY(-0.1875rem);
  font-size: 1.33rem;
}

/* Estilos do menu-toggle */
.menu-toggle {
  display: none;
  cursor: pointer;
  margin-left: auto;
  padding: .625rem;
}

.menu-toggle span {
  display: block;
  height: .125rem;
  width: 1.5625rem;
  background-color: var(--text-color);
  margin-bottom: .3125rem;
  transition: background-color 0.3s, transform 0.3s;
}

.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Estilos do overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
  display: block;
  opacity:0.2
}

/* ABOUT */
/* Estilos da seção About */
main {
  margin-top: .625rem;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: 60%;
}

.images img {
  max-width: 100%;
  height: 60%;
  height: auto;
}

-text {
  max-width: 50rem;
  margin-top: 1.875rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-color);
  margin-bottom: 1.25rem;
}

.about-text p:last-child {
  margin-bottom: 0;
}

/* Estilos da seção production */
#production {
  background-color: var(--secondary-color);
  position: relative;
  text-align: center;
  padding: .0125rem 0;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1.25rem;
  padding: 1.25rem 0;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 2.5rem;
}

.slide {
  position: relative;
  padding: 0 .625rem; /* Adicione esta linha para espaçamento */
  margin: 0 .625rem;
}

.slide img {
  transform: scale(0.8);
  width: 100%;
  max-width: 31.25rem; /* Ajuste esse valor conforme necessário */
  height: auto;
  display: block;
  border-radius: .5rem;
  margin: 0 .625rem; /* Adicione esta linha para espaçamento */
}

.slide.slick-center img {
  transform: scale(1);
  box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1), 0 .0625rem .1875rem rgba(0, 0, 0, 0.08);
  margin: 0; /* Adicione esta linha para remover a margem da imagem central */
}

.slide h3 {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  color: #fff;
  font-size: 2rem;
  text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.5);
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  width: 1.875rem;
  height: 1.875rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transform: translateY(-50%);
}

.slick-prev:before,
.slick-next:before {
  font-size: 2rem;
}

.slick-prev,
.slick-next {
  border-radius: 50%;
  z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: var(--secondary-color);
}

.slick-prev {
  left: .625rem;
}

.slick-next {
  right: .625rem;
}

/* finished-production */
/* Estilos da seção finished-production */
#finished-production {
  position: relative;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.grid-item {
  position: relative;
  margin: .625rem;
  width: 100%;
  max-width: 37.5rem;
  max-height: 15rem;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1), 0 .0625rem .1875rem rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: blur(.1875rem);
  transition: filter 0.3s ease;
}

.grid-item h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.5);
}

.grid-item:hover {
  box-shadow: 0 .4375rem .875rem rgba(0, 0, 0, 0.13), 0 .1875rem .375rem rgba(0, 0, 0, 0.1);
}

.grid-item:hover img {
  filter: blur(0);
}

#colabs .grid-item h3 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  background-color: var(--secondary-color);
  padding: .45rem;
  border-radius: .3rem;
  font-size: 2rem;
  text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.5);
}

/* MUSIC PRODUCTION */
#colabs {
  background-color: var(--secondary-color);
  padding: .0125rem 0;
}

.container-colabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}

.container-colabs .grid-item h3{
  position: relative;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.container-colabs .grid-item:hover h3{
  opacity: 1;
}

.colabs:nth-child(even){
  margin-top: 0rem;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color) ;
  padding: .0 1.875rem;
}

.footer-left img {
  width:30%;
  border-radius: 50%;
  padding: 0.3rem 0rem;
}

.footer-right a {
  color: var(--text-color);
  font-size: 2rem;
  margin-left: 4.375rem;
}

.footer-right a:hover{
  color: var(--bg-color);
}

/* .footer-contact {
  max-width: 25rem;
}

.footer-contact h3 {
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  color: #fff;
}

.footer-contact form {
  display: flex;
  flex-direction: column;
}

.footer-contact label {
  margin-top: .625rem;
}

.footer-contact input,
.footer-contact textarea {
  padding: .625rem;
  margin-bottom: 1.25rem;
  border-radius: .3125rem;
  border: none;
}

.footer-contact textarea {
  height: 6.25rem;
}

.footer-contact button {
  padding: .625rem;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: .3125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-contact button:hover {
  background-color: var(--tertiary-color);
} */

@media screen and (max-width: 48rem) {
  #colabs .grid-item h3 {
    font-size: 1.8rem;
  }

  #colabs .colabs:nth-child(even){
    margin-top: 1.25rem;
  }

  .grid-item img{
    filter:blur(.0)
  }

}

@media screen and (max-width: 62rem) {
  .section-title {
    font-size: 2rem;
  }

  header {
    position: relative;
  }

  /* container menu toggle */
  .menu-toggle-container {
    position: fixed;
    top: .5rem;
    right: 1rem;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.1);
    padding: .5rem;
  }
  
  .menu-toggle.light span {
    background-color: #000;
  }
  
  .menu-toggle.dark span {
    background-color: #fff;
  }
  /* Estilos do menu mobile */
  .menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 15.625rem;
    height: 100%;
    background-color: var(--secondary-color);
    padding: .625rem;
    transition: transform 0.3s ease;
  }

  .menu li {
    letter-spacing: 0;
    margin: 1.25rem 0;
  }

  .menu li a:hover {
    color: var(--bg-color);
  }

  .menu-toggle {
    display: block;
  }

  nav.active .menu {
    display: flex;
    transform: translateX(0);
  }

  /* CARROSSEL */

  .slide {
    margin: 0 .3125rem;
  }

  .slide img {
    transform: scale(0.8);
    max-width: 22.5rem;
  }

  /* MUSIC PRODUCTION */
  #colabs .grid-item h3 {
    font-size: 1rem;
    opacity: 1;
  }

  .grid-item img{
    filter:blur(.0)
  }

  /* FOOTER */
  .footer-left img {
    width: 35%;
  }

  .footer-right a {
    color: var(--text-color);
    font-size: 2rem;
    margin-left: 1.875rem;
  }
}
